name: manual S3 deploy
on: 
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.S3_UPLOADER_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.S3_UPLOADER_KEY_SECRET }}

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Use Node.js 14
      uses: actions/setup-node@v2
      with:
        node-version: 14.x
    - run: npm install
    - name: Build
      run: npm run build --if-present
    - name: Deploy
      uses: jakejarvis/s3-sync-action@master
      with:
        args: --acl public-read --delete
      env:
        AWS_S3_BUCKET: ${{ secrets.S3_BUCKET }}
        AWS_ACCESS_KEY_ID: ${{ secrets.S3_UPLOADER_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.S3_UPLOADER_KEY_SECRET }}
        AWS_REGION: 'ca-central-1'
        SOURCE_DIR: 'build'
